* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.3rem;
}

.wrap {
  padding: 1rem;
  background-color: gray;
}
.app-dw {
  display: block;
  position: absolute;
  right: 1rem;
}
.hidden {
  display: none;
}

/* PC Styling */
@media only screen and (min-width: 800px) {
  .app-dw {
    display: none;
  }
}
